Flows/New User Creation.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"microsoftforms_Connection_Name":{"defaultValue":"microsoftforms","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}},"filesystem_1_Connection_Name":{"defaultValue":"filesystem_1","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"SSW_User_Creation_From_Submitted":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('NHwvrDW56Uir3BHl1PyysOkoSIvscVRFgUJzIBzDA7NUQkEwUURYVDQ2UUxBS0ZWT1NDSzkzUEtUWC4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Manager":{"runAfter":{"Counter":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Manager","type":"String"}]}},"Organizational_Unit":{"runAfter":{"Manager":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"OU","type":"String"}]}},"MemberOf":{"runAfter":{"Organizational_Unit":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MemberOf","type":"String"}]}},"LocationMember":{"runAfter":{"MemberOf":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LocationMember","type":"String"}]}},"Add_to_New_AD_User_SharePoint_List":{"foreach":"@triggerBody()?['value']","actions":{"Get_response_details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('NHwvrDW56Uir3BHl1PyysOkoSIvscVRFgUJzIBzDA7NUQkEwUURYVDQ2UUxBS0ZWT1NDSzkzUEtUWC4u')}')/responses","queries":{"response_id":"@items('Add_to_New_AD_User_SharePoint_List')?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Manager_Switch":{"runAfter":{"Get_response_details":["Succeeded"]},"cases":{"Adam_Cogan":{"case":"Adam Cogan","actions":{"Set_Adam_Cogan":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Manager","value":"CN=Adam Cogan,OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Uly_Maclaren":{"case":"Ulysses Maclaren","actions":{"Set_Uly_Maclaren":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Manager","value":"CN=Ulysses Maclaren,OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Michael_Smedley":{"case":"Michael Smedley","actions":{"Set_Michael_Smedley":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Manager","value":"CN=Michael Smedley,OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Matthew_Sampias":{"case":"Matthew Sampias","actions":{"Set_Matthew_Sampias":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Manager","value":"CN=Matthew Sampias,OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Mehmet_Ozdemir":{"case":"Mehmet Ozdemir","actions":{"Set_Mehmet_Ozdemir":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Manager","value":"CN=Mehmet Ozdemir,OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Alvin_Shen":{"case":"Alvin Shen","actions":{"Set_Alvin_Shen":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Manager","value":"CN=Alvin Shen,OU=China,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}}},"default":{"actions":{}},"expression":"@body('Get_response_details')?['r1806902a038649cb8ccd5c0695d3d449']","type":"Switch"},"OU_Switch":{"runAfter":{"Location_OU":["Succeeded"]},"cases":{"Australia":{"case":"Australia","actions":{"Set_Australia":{"runAfter":{},"type":"SetVariable","inputs":{"name":"OU","value":"OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Australia_-_Work_Experience":{"case":"Australia - Work Experience","actions":{"Set_Australia_-_Work_Experience":{"runAfter":{},"type":"SetVariable","inputs":{"name":"OU","value":"OU=Work Experience,OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Australia_-_External_Consultant":{"case":"Australia - External Consultant","actions":{"Set_Australia_-_External_Consultant":{"runAfter":{},"type":"SetVariable","inputs":{"name":"OU","value":"OU=External Consultant,OU=Australia,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"China":{"case":"China","actions":{"Set_China":{"runAfter":{},"type":"SetVariable","inputs":{"name":"OU","value":"OU=China,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"China_-_External_Consultant":{"case":"China - External Consultant","actions":{"Set_China_-_External_Consultant":{"runAfter":{},"type":"SetVariable","inputs":{"name":"OU","value":"OU=External Consultant,OU=China,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"China_-_Work_Experience":{"case":"China - Work Experience","actions":{"Set_China_-_Work_Experience":{"runAfter":{},"type":"SetVariable","inputs":{"name":"OU","value":"OU=Work Experience,OU=China,OU=NonAdminAccounts,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}}},"default":{"actions":{}},"expression":"@body('Get_response_details')?['rcc563d0c3e4c44a48e1c2534a5f0626f']","type":"Switch"},"Group_Switch":{"runAfter":{"OU_Switch":["Succeeded"]},"cases":{"Developers":{"case":"Developers","actions":{"Set_Developers":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=SSWDevelopers,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Designers":{"case":"Designers","actions":{"Set_Designers":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=SSWDesigners,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Designers_-_SSWTV":{"case":"Designers - SSWTV","actions":{"Set_Designers_-_SSWTV":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=SSWDesigners,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWTV,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Manager":{"case":"Manager","actions":{"Set_Manager":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=SSWAdmin,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWContactUs,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWDevelopers,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWManagement,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Accounting":{"case":"Accounting","actions":{"Set_Accounting":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=SSWAdmin,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=InternetOrders,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWAccounts,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWAdmin,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWAzure,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWDomains,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWInternet,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWManagement,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"SysAdmin":{"case":"SysAdmin","actions":{"Set_SysAdmin":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=Exchange Services,CN=Users,DC=sydney,DC=ssw,DC=com,DC=au, CN=postmaster,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWBeijing-MSDN,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWDevelopers,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWDomains,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWInternet,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWNetworkAdmin,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOperationsManager,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWServerEvents,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWSharePoint,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWSysAdmins,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Admin":{"case":"Admin","actions":{"Set_Admin":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=SSWAdmin,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWContactUs,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au, CN=AngularHackDay,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=FireBootCamp,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=Google,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au, CN=SSWSocialMedia,OU=Mailboxes,OU=SSW,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Case":{"case":"Other (No access just SSWOffice365)","actions":{"Set_Undefined":{"runAfter":{},"type":"SetVariable","inputs":{"name":"MemberOf","value":"CN=SSWOffice365,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}}},"default":{"actions":{}},"expression":"@body('Get_response_details')?['r73798fddf4ae46548f00407dd4321ed1']","type":"Switch"},"Location_OU":{"runAfter":{"Manager_Switch":["Succeeded"]},"cases":{"Sydney":{"case":"Sydney","actions":{"Set_Sydney":{"runAfter":{},"type":"SetVariable","inputs":{"name":"LocationMember","value":"CN=SSWSydneyAll,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Brisbane":{"case":"Brisbane","actions":{"Set_Brisbane":{"runAfter":{},"type":"SetVariable","inputs":{"name":"LocationMember","value":"CN=SSWBrisbaneAll,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Melbourne":{"case":"Melbourne","actions":{"Set_Melbourne":{"runAfter":{},"type":"SetVariable","inputs":{"name":"LocationMember","value":"CN=SSWMelbourneAll,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Hangzhou":{"case":"Hangzhou","actions":{"Set_Hangzhou":{"runAfter":{},"type":"SetVariable","inputs":{"name":"LocationMember","value":"CN=SSWChinaAll,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}},"Other":{"case":"Other","actions":{"Set_Other":{"runAfter":{},"type":"SetVariable","inputs":{"name":"LocationMember","value":"CN=SSWRestOfWorldAll,OU=Security Group,DC=sydney,DC=ssw,DC=com,DC=au"}}}}},"default":{"actions":{}},"expression":"@body('Get_response_details')?['r69b191771fd54084852ef8bf6439a8ec']","type":"Switch"},"Condition":{"actions":{"Add_User_to_New_User_AD_SharePoint_List_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"Title":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']}@{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}@ssw.com.au","SysAdmin_User_Created":false,"SysAdmin_User_GivenName":"@body('Get_response_details')?['r395c3778c03042308d21436c7561373d']","SysAdmin_User_Surname":"@body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']","SysAdmin_User_Name":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']} @{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}","SysAdmin_User_DisplayName":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']} @{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']} www.ssw.com.au","SysAdmin_User_Email":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']}@{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}@ssw.com.au","SysAdmin_User_MobilePhone":"@body('Get_response_details')?['rd13543e25de9412eaedee14de56ae979']","SysAdmin_User_JobTitle":"@body('Get_response_details')?['rc545b86667ed4803a3b20dbbfed93859']","SysAdmin_User_Street":"@body('Get_response_details')?['r6845b7f2af70446b8451a7b524cc0cba']","SysAdmin_User_City":"@body('Get_response_details')?['r0e61a90516174ebb89d6125d4022ce3f']","SysAdmin_User_State":"@body('Get_response_details')?['rec80a3ddb40d4c16b2435589535af432']","SysAdmin_User_PostCode":"@body('Get_response_details')?['r5b7e3a5613c14ac1b7d737087455df85']","SysAdmin_User_Country":"@body('Get_response_details')?['r204eaeadf0194270a055ae0c28b427eb']","SysAdmin_User_Office":"SSW @{body('Get_response_details')?['r69b191771fd54084852ef8bf6439a8ec']}","SysAdmin_User_SAM":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']}@{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}","SysAdmin_User_Manager":"@variables('Manager')","SysAdmin_User_Groups":"@{variables('MemberOf')}, @{variables('LocationMember')}","SysAdmin_User_OU":"@variables('OU')","SysAdmin_User_AltEmail":"@body('Get_response_details')?['rc935ef4c66574693aa3a1d3f75708eef']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://sswcom.sharepoint.com/SysAdmin'))}/tables/@{encodeURIComponent(encodeURIComponent('f600712b-2081-47c7-98f9-2f96d72a1dde'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Group_Switch":["Succeeded"]},"else":{"actions":{"Add_User_to_New_User_AD_SharePoint_List_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"Title":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']}@{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}@{variables('Counter')}@ssw.com.au","SysAdmin_User_Created":false,"SysAdmin_User_GivenName":"@body('Get_response_details')?['r395c3778c03042308d21436c7561373d']","SysAdmin_User_Surname":"@body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']","SysAdmin_User_Name":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']} @{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}","SysAdmin_User_DisplayName":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']} @{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']} www.ssw.com.au","SysAdmin_User_Email":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']}@{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}@{variables('Counter')}@ssw.com.au","SysAdmin_User_MobilePhone":"@body('Get_response_details')?['rd13543e25de9412eaedee14de56ae979']","SysAdmin_User_JobTitle":"@body('Get_response_details')?['rc545b86667ed4803a3b20dbbfed93859']","SysAdmin_User_Street":"@body('Get_response_details')?['r6845b7f2af70446b8451a7b524cc0cba']","SysAdmin_User_City":"@body('Get_response_details')?['r0e61a90516174ebb89d6125d4022ce3f']","SysAdmin_User_State":"@body('Get_response_details')?['rec80a3ddb40d4c16b2435589535af432']","SysAdmin_User_PostCode":"@body('Get_response_details')?['r5b7e3a5613c14ac1b7d737087455df85']","SysAdmin_User_Country":"@body('Get_response_details')?['r204eaeadf0194270a055ae0c28b427eb']","SysAdmin_User_Office":"SSW @{body('Get_response_details')?['r69b191771fd54084852ef8bf6439a8ec']}","SysAdmin_User_SAM":"@{body('Get_response_details')?['r395c3778c03042308d21436c7561373d']}@{body('Get_response_details')?['re03214c6144645a2b8d4628a841efd63']}@{variables('Counter')}","SysAdmin_User_Manager":"@variables('Manager')","SysAdmin_User_Groups":"@{variables('MemberOf')}, @{variables('LocationMember')}","SysAdmin_User_OU":"@variables('OU')","SysAdmin_User_AltEmail":"@body('Get_response_details')?['rc935ef4c66574693aa3a1d3f75708eef']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://sswcom.sharepoint.com/SysAdmin'))}/tables/@{encodeURIComponent(encodeURIComponent('f600712b-2081-47c7-98f9-2f96d72a1dde'))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('Counter')",0]},"type":"If"}},"runAfter":{"Loop_Through_Users":["Succeeded"]},"type":"Foreach"},"Get_Azure_Users":{"runAfter":{"LocationMember":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/beta/ssw.com.au/users","authentication":{"type":"ActiveDirectoryOAuth","tenant":"ac2f7c34-b935-48e9-abdc-11e5d4fcb2b0","audience":"https://graph.microsoft.com/","clientId":"003dbb0d-f7ad-4109-9a2d-e712cab14e79","secret":"0pDPnf49xu2M.eovuWY_OH.EzKpRHZc="}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":500}}},"Get_Azure_Users_Body":{"runAfter":{"Get_Azure_Users":["Succeeded"]},"type":"Compose","inputs":"@body('Get_Azure_Users')['value']"},"Loop_Through_Users":{"foreach":"@outputs('Get_Azure_Users_Body')","actions":{"Apply_to_each_3":{"foreach":"@triggerBody()?['value']","actions":{"Get_response_details_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('NHwvrDW56Uir3BHl1PyysOkoSIvscVRFgUJzIBzDA7NUQkEwUURYVDQ2UUxBS0ZWT1NDSzkzUEtUWC4u')}')/responses","queries":{"response_id":"@items('Apply_to_each_3')?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Condition_4":{"actions":{"Increment_variable":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"Counter","value":1}}},"runAfter":{"Get_response_details_3":["Succeeded"]},"expression":{"startsWith":["@items('Loop_Through_Users')['userprincipalname']","@body('Get_response_details_3')?['re03214c6144645a2b8d4628a841efd63']"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_Azure_Users_Body":["Succeeded"]},"type":"Foreach"},"Counter":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Counter","type":"Integer"}]}},"Create_file":{"runAfter":{"Add_to_New_AD_User_SharePoint_List":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['filesystem_1']['connectionId']"}},"method":"post","body":"Triggers user creation on SSW-DC4.","path":"/datasets/default/files","queries":{"folderPath":"\\","name":"CreateUserTrigger.txt","queryParametersSingleEncoded":true},"authentication":"@parameters('$authentication')"}},"Delete_file":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['filesystem_1']['connectionId']"}},"method":"delete","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('CreateUserTrigger.txt'))}","authentication":"@parameters('$authentication')"}}}},"parameters":{"$connections":{"value":{"microsoftforms":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","connectionName":"[parameters('microsoftforms_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"},"filesystem_1":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem_1')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('filesystem_1_Connection_Name'))]","connectionName":"[parameters('filesystem_1_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('filesystem_1_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('microsoftforms_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]"},"displayName":"[parameters('microsoftforms_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('sharepointonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('filesystem_1_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem_1')]"},"displayName":"[parameters('filesystem_1_Connection_Name')]"}}]}