Flows/New User Creation - Check if user has been created.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":20},"type":"Recurrence"}},"actions":{"Get_Azure_Users":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/beta/ssw.com.au/users","authentication":{"type":"ActiveDirectoryOAuth","tenant":"ac2f7c34-b935-48e9-abdc-11e5d4fcb2b0","audience":"https://graph.microsoft.com/","clientId":"003dbb0d-f7ad-4109-9a2d-e712cab14e79","secret":"0pDPnf49xu2M.eovuWY_OH.EzKpRHZc="}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":500}}},"Get_Azure_Users_Body":{"runAfter":{"Get_Azure_Users":["Succeeded"]},"type":"Compose","inputs":"@body('Get_Azure_Users')['value']"},"Loop_Through_Users":{"foreach":"@outputs('Get_Azure_Users_Body')","actions":{"Apply_to_each_3":{"foreach":"@body('Get_items')?['value']","actions":{"Condition_4":{"actions":{"Update_item":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@items('Apply_to_each_3')?['Title']","SysAdmin_User_Created":true},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://sswcom.sharepoint.com/SysAdmin'))}/tables/@{encodeURIComponent(encodeURIComponent('f600712b-2081-47c7-98f9-2f96d72a1dde'))}/items/@{encodeURIComponent(items('Apply_to_each_3')?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@items('Loop_Through_Users')['userprincipalname']","@items('Apply_to_each_3')?['Title']"]},{"equals":["@items('Apply_to_each_3')?['SysAdmin_User_Created']","@false"]}]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"},"Get_items":{"runAfter":{"Get_Azure_Users_Body":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://sswcom.sharepoint.com/SysAdmin'))}/tables/@{encodeURIComponent(encodeURIComponent('f600712b-2081-47c7-98f9-2f96d72a1dde'))}/items","authentication":"@parameters('$authentication')"}}}},"parameters":{"$connections":{"value":{"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('sharepointonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}